.desktop-ver {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  background-color: #333333;
  padding: 20px 50px 20px 50px;
  text-align: center;
}
.desktop-ver a {
  text-decoration: none !important;
  color: #ffffff;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: #ffffff !important;
}
@media (max-width: 992px) {
  .desktop-ver {
    display: none;
  }
}
/*mobile versija headeris su sidebar*/
@media (min-width: 992px) {
  .mobile-ver {
    display: none;
  }
}
/*mobile header*/
.mobile-ver {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 125px;
  background: #333333;
}
.mobile-head img {
  float: right;
  padding-right: 20px;
}
/*side bar*/
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #333333;
  transition: all 0.5s ease;
}
.sidebar header {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
.sidebar ul a {
  padding-left: 45px;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 45px;
  font-size: 18;
  color: white;
  box-sizing: border-box;
  transition: 0.4s;
}
ul li:hover a {
  padding-left: 55px;
}
#check {
  display: none;
}
label #open-btn,
label #close-btn {
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
}
label #open-btn {
  left: 40px;
  top: 43px;
  font-size: 35px;
  color: white;
  transition: all 0.5s ease;
}
label #close-btn {
  z-index: 1111;
  left: -195px;
  top: 35px;
  font-size: 30px;
  color: white;
  transition: all 0.5s ease;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #open-btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
label #open-btn ~ .mobile-head img {
  display: none;
}
#check:checked ~ label #close-btn {
  left: 195px;
}
/*headerio pabaiga*/
/*body pradzia*/
.blog-post {
  margin: 20px auto 20px auto;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}
.blog-post p {
  font-weight: 300;
  font-size: 20px;
}
.related,
.others {
  gap: 10px;
  margin: 20px 250px 20px 250px;
}
.others-boxes:hover {
  cursor: pointer;
  border: grey 3px;
}
