.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  background-color: #333333;
  padding: 20px 100px 20px 100px;
  text-align: center;
}
.header a {
  text-decoration: none !important;
  color: #ffffff;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: #ffffff !important;
}
@media (max-width: 1200px) {
  .header {
    padding: 34px 20px 34px 20px;
  }
}
/*headerio pabaiga*/
/*body pradzia*/
.blog-post {
  margin: 20px 0 20px 0;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}
.blog-post p {
  font-weight: 300;
  font-size: 20px;
}
